@model Product
@{
}

<h3>Update Product</h3>

<a href="/Product/DisplayAll" class="my-2 btn btn-primary ">Display All</a>

<form asp-action="Edit">
    <input asp-for="Id" type="hidden" class="form-control">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>    
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Price</label>
        <input asp-for="Price" type="text" class="form-control">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label">Image</label>
        <input asp-for="Image" type="text" placeholder="Enter Image Url" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>



    <div class="mb-3">
        <button type="submit" class="btn btn-info ">Update</button>
    </div>

</form>

